.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 105px;
}

.loader {
  background-image: url("../../../../assets/spinner-logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
